<div class="container">
    <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
        <app-update-odeur
            [odeur]="updatedGen"
            (odeurUpdated)= "odeurUpdated($event)"
            [ajout]="ajout">
        </app-update-odeur>
    </div>
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom Odeur</th>
                    </tr>
                </thead>
                <tbody *ngFor="let odeur of odeurs">
                    <tr>
                        <td>{{odeur.idOdeur}}</td>
                        <td>{{odeur.nomOdeur}}</td>
                        <td><a class="btn btn-success" (click)="editOdeur(odeur)">Editer</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>